[Unit]
Description = Thingsboard Camera Capture Service
After = rc.local.service

[Service]
Type = simple
User = root
Group = root
ExecStart = /bin/sh /thingsboard/tb_cam/server/run_cap.sh

[Install]
WantedBy = multi-user.target
